__pycache__/
.idea/
#examples/wenetspeech/whisper/runtime/input_data/
examples/wenetspeech/whisper/runtime/extra-info/
examples/wenetspeech/whisper/runtime/kernel_meta/
examples/wenetspeech/whisper/runtime/output/
examples/wenetspeech/whisper/runtime/data/
examples/wenetspeech/whisper/runtime/temp/
examples/wenetspeech/whisper/runtime/temp_gradio/
examples/wenetspeech/whisper/runtime/output_hkxie/
examples/wenetspeech/whisper/runtime/~/
voicebench/~/
voicebench/extra-info/
web_gradio/~/
web_gradio/temp/
temp/
temp_out/
data/
web_gradio/log/
\~/
extra-info

playground
.torchair_cache
fusion_result.json
kernel_meta
